#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --with quilt

override_dh_auto_configure:
	dh_auto_configure -- --systemdsystemunitdir=/lib/systemd/system --libdir=/usr/lib
	for i in $$(git grep -L ':revdate:' -- '*.[0-9].asc'); do revdate=$$(git log -1 --date=short --pretty='%cd' $$i) ; sed -e "3i:revdate: $$revdate" -i $$i ; done

override_dh_fixperms-arch:
	dh_fixperms
	find debian/ -name "*.sh" | grep modules.d | xargs chmod 755

override_dh_fixperms-indep:
	dh_fixperms
	find debian/ -name "*.sh" | grep modules.d | xargs chmod 755

override_dh_auto_test:

override_dh_clean:
	dh_clean dracut.pc Makefile.inc dracut-version.sh
